@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:acronym"]{
	font-variant: all-small-caps;
}

section[epub|type~="preface"]{
	margin-top: 20vh;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

article > blockquote,
#the-busher-abroad > section > blockquote{
	margin: 1em 0;
}

table{
	margin: auto;
}

tr > td:last-of-type{
	text-align: right;
}

[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

/* Overriding styles for letters within letters - these do not use small-caps */
#stragety-and-tragedy > blockquote[epub|type~="z3998:letter"] > blockquote[epub|type~="z3998:letter"] [epub|type~="z3998:salutation"],
#sammy-boy > blockquote[epub|type~="z3998:letter"] > blockquote[epub|type~="z3998:letter"] [epub|type~="z3998:salutation"]{
	font-variant: normal;
}

/* need to add this selector so that small-caps are still used when the b tag is in place */
#sammy-boy > blockquote[epub|type~="z3998:letter"] > blockquote[epub|type~="z3998:letter"] b[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

/* Numbered headings in Jack's letter */
#stragety-and-tragedy > blockquote[epub|type~="z3998:letter"] > blockquote:not([epub|type]) > header{
	font-size: larger;
	text-align: center;
}

[epub|type~="z3998:article"] > header{
	font-variant: small-caps;
	text-align: center;
}

#decorated > blockquote[epub|type~="z3998:letter"] > blockquote:not([epub|type]){
	text-align: center;
}

#decorated [epub|type~="z3998:article"] > p:nth-of-type(2){
	text-indent: 0;
}
